{% assign categories = site.categories | sort %} <!-- Kategorileri alfabetik sırayla al -->
<div id="categories" class="pl-xl-3">
  {% for category in categories %}
    <h2 class="category-title">{{ category[0] | capitalize }}</h2>
    
    <!-- Alt kategorileri gruplandır ve sırala -->
    {% assign subcategories = category[1] | group_by_exp: 'post', 'post.path | split: "/" | slice: 1, 1 | first' %}
    <ul class="list-unstyled">
      {% for subcategory in subcategories %}
        <li class="subcategory">
          <h3>{{ subcategory.name | capitalize }}</h3>
          
          <!-- Postları başlığa göre sırala -->
          {% assign posts = subcategory.items | sort: 'title' %}
          <ul>
            {% for post in posts %}
              <li>
                <span class="date">{{ post.date | date: '%Y-%m-%d' }}</span>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
